<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Lista peliculas</title>
	<link href='css/bootstrap.min.css' rel='stylesheet'>
	<link href='css/custom.css' rel='stylesheet'>
</head>
<body>
	<div class='container'>
		<div class='row'>

			<article class='col-md-4 article-intro'>
				<a href='#'>
					<img class='' src='aosdijasiodjasiodjasiodjaiosdjaio' alt=''>
				</a>
				<h3>
					<a href='#'>Aaa</a>
				</h3>
				<ul>
					<li>Genero: Aaa</li>
					<li>Puntaje: 10</li>
					<li>Duracion: 120</li>
				</ul>
				<p>Asdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjiosdjioasdjioaisd</p>
			</article>

		</div>
	</div>
	<script src='js/jquery-1.11.3.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script src='js/ie10-viewport-bug-workaround.js'></script>
	<script src='js/holder.min.js'></script>
</body>
</html>